<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app1"> <!--django templates 에서의 {% block body %} 역할-->
    <p>{{ message }} </p>
    <button v-on:click="reverseMessage">Reverse</button>
    <p>{{ count }}</p>
    <button v-on:click="plus">Up</button>
    <button v-on:click="minus">Down</button>
<!--    app.message = 'bye Vue JS'-->
</div>
<div id ="app2">
    <ol>
        <li v-for="todo in todos">
            {{ todo.content }}
        </li>
    </ol>
</div>
<div id="app3">
    <span v-bind:data-info="message">
        OHO
    </span>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app1 = new Vue({
        // mount
        el: '#app1',

        // app init state - MUST object
        data: {
            message: 'Hello Vue JS!',
            count : 0,

        },
        methods: {
            reverseMessage : function(){
              this.message = this.message.split('').reverse().join('')
            },
            plus: function () {
                this.count ++ ;
            },
            minus: function () {
                this.count -- ;
            },

        }
    });
    const app2 = new Vue({
        el:'#app2',
        data:{
            todos: [
                { content: 'JS 배우기' },
                { content:'Vue 배우기' },
                { content:'짱짱한거 만들기' },

            ]
        }
    });
    app1.plus();
    console.log(app1.$data.count);
</script>
</body>
</html>

<!--https://kkodu.tistory.com/4-->