{% extends 'board_ad/base.html' %}


{% block body %}
    <h1>{{ posting.title }}</h1>
    <p>
        {{ posting.content }}
    </p>
    <hr>
    <form action="{% url 'board_ad:create_comment' posting.id %}" method="POST">
        {% csrf_token %}
        <label for="comment"></label>
        <input type="text" name="comment" id="comment">
        {#        <input type="submit" value="댓글쓰기">#}
        <button type="submit">댓글 쓰기</button>
    </form>

    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.content }} {{ comment.created_at }}
                <form action="{% url 'board_ad:delete_comment' posting_id=posting.id comment_id=comment.id %}" method="POST">

                    {% csrf_token %}
                    <button type="submit">댓글 삭제하기</button>
                </form>
            </li>
        {% endfor %}
    </ul>


    <a href="{% url 'board_ad:posting_list' %}">
        <button>List</button>
    </a>
    <a href="{% url 'board_ad:posting_update' posting.id %}">
        <button>Edit</button>
    </a>

    <form action="{% url 'board_ad:posting_delete' posting.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('진짜 지울꺼야?');">Delete</button>
    </form>

    <button id="reset_button">WOW</button>
    <script>
        button = document.querySelector('#reset_button')
        button.addEventListener('click', (e) => {
            document.write('<h1>hahaha</h1>');

        });
    </script>

{% endblock %}