{% extends 'base.html' %}

{% block body %}

    <div class="row">
        <div class="col-4">
            <img src="..." alt="{{ user_info.username }}-profile-picture">
        </div>
    </div>
    <div class="col-8">
        <h1>{{ user_info.username }}</h1>
       <div>
           {% if user_info.followings.all %}
            <ul>
                {% for user in user_info.followings.all %}
                    <li>{{ user.username }}</li>
                {% endfor %}

            </ul>
           {% endif %}
           <ul>

           </ul>
       </div>

      <div>
                {% if user != user_info %}
                    <form action="{% url 'accounts:toggle_follow' user_info.username %}" method="POST">
                        {% csrf_token %}
                        {% if user_info in user.followings.all %}
                            <button class="btn btn-danger">Unfollow</button>
                        {% else %}
                            <button class="btn btn-primary">Follow</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>

    </div>
    <div class="card-columns">
        {% for post in user_info.post_set.all %}
            {% include 'posts/_post.html' with post=post comment_form=comment_form %}
        {% endfor %}
    </div>
{% endblock %}